jupyterlab
ipython
torch
transformers
tokenizers
numpy
datasets
pillow
matplotlib
tqdm
pandas
scipy
jupyterlab-vim
sentence-transformers
nltk
mteb
mteb[beir]
umap-learn
evaluate
rouge-score
bert_score
